<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <script src="jquery-2.0.3.min.js"></script>
    <script src="RTCMultiConnection.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

  </body>
  <!-- Wrapper for video elements -->
  <div id='players'></div>

  <!-- Control buttons -->
  <button id='record_button'>Start recording</button>
  <button id='play_button'>Play</button>
  <button id='upload_button'>Upload</button>
</html>
