<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-2.0.3.min.js"></script>
    <script src="RecordRTC.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <!-- Wrapper for video elements -->
    <div id='players'>
      <video class='recorder' autoplay loop muted></video>
      <audio class="recorder" autoplay loop muted></audio>
    </div>
    <!-- Control buttons -->
    <button id='record_button'>Start recording</button>
    <button id='play_button'>Play</button>
    <button id='upload_button'>Upload</button>
  </body>

</html>
